<div class="content is-large">
    ${!!is_logged_in ? `
        <a href="/user/logout">Logout</a>
        ` : `
        <a href="/login">Login</a>
        `
        }
    <h1>${title}</h1>
    ${data.map( list =>{
        return `<p>
                <ul>
                    <li>Task: ${list.task}</li>
                    <li>Due Date: ${list.due_date}</li>
                    <li>
                        <input type="checkbox" id="completed" name="completed" value="true"> Completed?
                    </li>
                </ul>
        </p>`
    }).join('')}
    <form action="/list" method="POST">
        <label> Enter Task:
            <input type="text" name="task" placeholder="Task Description" />
        </label>
        <label>Date Due:
            <input type="date" name="due_date" placeholder="Enter Due Date" />
        </label>
        <button type="submit">Add new task</button>
    </form>
    <img src="/images/voltron.jpeg" alt="NEP Voltron" width="500" height="auto">
</div>
